* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(71, 71, 240);
}
#heading {
  text-align: center;
  font-size: 50px;
  margin-top: 200px;
  color: wheat;
}
#main {
  height: 150px;
  width: 550px;
  background-color: rgba(22, 22, 219, 0.541);
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 20px;
  border-radius: 15px;
}

#input {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(230, 230, 141);
  border: none;
  font-size: 20px;
}

#btn {
  padding: 16px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: yellow;
  font-size: medium;
  font-weight: bold;
  border: none;
}
#btn:hover {
  color: red;
  transform: scale(1.1);
}
#result {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  color: wheat;
}
